@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="">
    <section class="top-chart  col-lg-5 col-md-5 col-sm-12" >
        <div class="" style="margin:15px;">

            <div class="well well-sm lhen row">
                <div class="pull-right col-lg-9">
                    <h3 class="home-subheading">މަގުބޫލު</h3>
                </div>
            </div>

            <div class="well well-sm lhen row">
                <div class="pull-right col-lg-9">
                    <h3 style="padding-top:0;"> <a class="lhen-name" href="#">   ޤައުމީ ލޯތްބެއް </a></h3>
                    <p class="written-by">ލިޔުއްވީ: އަހުމަދު އަލިފުޅު</p>
                    <p class="posted-on"></p>
                </div>
                <div class="pull-left col-lg-3  col-md-3  col-sm-3 col-xs-4">
                    <span class="  col-lg-6  col-md-6 col-sm-6 col-xs-6 clearfix" style="background-color: #ffef99;padding:2px 10px;">
                        <i class="glyphicon glyphicon-eye-open"></i> 233
                    </span>
                    <span class="clearfix col-lg-5  col-md-6 col-sm-6 col-xs-6" style="background-color: #deff8c;padding:2px 10px;">
                        <i class="glyphicon glyphicon-star"></i> 50
                    </span>
                </div>

            </div>

            <div class="well well-sm lhen row">
                <div class="pull-right col-lg-9">
                    <h3 style="padding-top:0;"> <a class="lhen-name" href="#">   ޤައުމީ ލޯތްބެއް </a></h3>
                    <p class="written-by">ލިޔުއްވީ: އަހުމަދު އަލިފުޅު</p>
                    <p class="posted-on"></p>
                </div>
                <div class="pull-left col-lg-3  col-md-3  col-sm-3 col-xs-4">
                    <span class="  col-lg-6  col-md-6 col-sm-6 col-xs-6 clearfix" style="background-color: #ffef99;padding:2px 10px;">
                        <i class="glyphicon glyphicon-eye-open"></i> 233
                    </span>
                    <span class="clearfix col-lg-5  col-md-6 col-sm-6 col-xs-6" style="background-color: #deff8c;padding:2px 10px;">
                        <i class="glyphicon glyphicon-star"></i> 50
                    </span>
                </div>

            </div>

            <div class="well well-sm lhen row">
                <div class="pull-right col-lg-9">
                    <h3 style="padding-top:0;"> <a class="lhen-name" href="#">   ޤައުމީ ލޯތްބެއް </a></h3>
                    <p class="written-by">ލިޔުއްވީ: އަހުމަދު އަލިފުޅު</p>
                    <p class="posted-on"></p>
                </div>
                <div class="pull-left col-lg-3  col-md-3  col-sm-3 col-xs-4">
                    <span class="  col-lg-6  col-md-6 col-sm-6 col-xs-6 clearfix" style="background-color: #ffef99;padding:2px 10px;">
                        <i class="glyphicon glyphicon-eye-open"></i> 233
                    </span>
                    <span class="clearfix col-lg-5  col-md-6 col-sm-6 col-xs-6" style="background-color: #deff8c;padding:2px 10px;">
                        <i class="glyphicon glyphicon-star"></i> 50
                    </span>
                </div>

            </div>

            <div class="well well-sm lhen row">
                <div class="pull-right col-lg-9">
                    <h3 style="padding-top:0;"> <a class="lhen-name" href="#">   ޤައުމީ ލޯތްބެއް </a></h3>
                    <p class="written-by">ލިޔުއްވީ: އަހުމަދު އަލިފުޅު</p>
                    <p class="posted-on"></p>
                </div>
                <div class="pull-left col-lg-3  col-md-3  col-sm-3 col-xs-4">
                    <span class="  col-lg-6  col-md-6 col-sm-6 col-xs-6 clearfix" style="background-color: #ffef99;padding:2px 10px;">
                        <i class="glyphicon glyphicon-eye-open"></i> 233
                    </span>
                    <span class="clearfix col-lg-5  col-md-6 col-sm-6 col-xs-6" style="background-color: #deff8c;padding:2px 10px;">
                        <i class="glyphicon glyphicon-star"></i> 50
                    </span>
                </div>

            </div>


        </div>
    </section>

    <section class="recents col-lg-7 col-md-7 col-sm-12">
        <div class="row" style=" margin:15px">


            <div class="well well-sm latest-lhen row" style="">
                <div class="pull-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="home-subheading">ފަހުގެ ޅެންތައް</h3>
                </div>
            </div>

            <div class="well well-sm latest-lhen row">
                <div class="pull-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 style="padding-top:0;">
                        <a class="lhen-name" href="#">   ޤައުމީ ލޯތްބެއް </a>
                    </h3>
                    <span>
                        2 ގަޑި 60 މިނެޓް ކުރިން
                    </span> /

                    <span class="written-by" style="font-size:13px">ލިޔުއްވީ: އަހުމަދު އަލިފުޅު</span>
                </div>
            </div>
        </div>


    </section>

</div>

